@model IEnumerable<HR.MVC.DHK.Models.Department>

@*@{
    ViewData["Title"] = "Department List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<div class="container">
    <h2>Department List</h2>

    <table class="table">

        <a asp-action="Create" asp-area="Admin" class="btn btn-primary">Create</a>
        <thead>
            <tr>
                <th>Department Name</th>
                <th>Company Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var department in Model)
            {
                <tr>
                    <td>@department.DeptName</td>
                    <td>@department.Company?.ComName</td>
                    <td>
                        <a href="@Url.Action("Edit", "Department", new { id = department.DeptId })" class="btn btn-primary">Edit</a>
                        <a href="@Url.Action("Details", "Department", new { id = department.DeptId })" class="btn btn-info">Details</a>
                        <a href="@Url.Action("Delete", "Department", new { id = department.DeptId })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
