@model HR.MVC.DHK.Models.Company

@{
    ViewData["Title"] = "Company Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Company Details</h2>

    <table class="table">
        <tr>
            <th>Company Name:</th>
            <td>@Html.DisplayFor(model => model.ComName)</td>
        </tr>
        <tr>
            <th>Basic:</th>
            <td>@Html.DisplayFor(model => model.Basic)</td>
        </tr>
        <tr>
            <th>House Rent Allowance:</th>
            <td>@Html.DisplayFor(model => model.Hrent)</td>
        </tr>
        <tr>
            <th>Medical Allowance:</th>
            <td>@Html.DisplayFor(model => model.Medical)</td>
        </tr>
        <tr>
            <th>Is Inactive:</th>
            <td>@Html.DisplayFor(model => model.IsInactive)</td>
        </tr>
    </table>

    <a href="@Url.Action("Index", "Company")" class="btn btn-primary">Back to List</a>
</div>
