@model List<HR.MVC.DHK.Models.Company>

@{
    ViewData["Title"] = "Company List";
}

<h1>Company List</h1>

<div class="container">
    <a asp-action="Create" class="btn btn-primary">Create</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Basic</th>
                <th>Hrent</th>
                <th>Medical</th>
                <th>Is Inactive</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in Model)
            {
                <tr>
                    <td>@company.ComName</td>
                    <td>@company.Basic</td>
                    <td>@company.Hrent</td>
                    <td>@company.Medical</td>
                    <td>@(company.IsInactive ? "Yes" : "No")</td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = company.ComId })" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
